@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #2e2e2e;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 30px;
}
header > img {
  width: 220px;
  height: 50px;
}
.direitacima {
  display: flex;
  align-items: center;
}
.gerenciar,
.gerenciar1 {
  color: #cfb53b;
  border: 2px solid #cfb53b;
  width: 210px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}
.gerenciar1 {
  color: #2e2e2e;
  background-color: #cfb53b;
  margin: 20px 0px 10px;
}
.gerenciar:hover {
  background-color: #cfb53b;
  color: #2e2e2e;
  cursor: pointer;
}
input {
  padding-left: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 210px;
  height: 45px;
  border: none;
  outline: none;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.divfilme {
  width: 250px;
  height: 340px;
  position: relative;
  margin-left: 100px;
  margin-top: 100px;
}
.filme {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.6);
}
.hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
}
.play {
  width: 50px;
  height: 50px;
}
.hover:hover {
  background-color: #cfb43b98;
  opacity: 1;
  cursor: pointer;
}
.menudrop {
  position: absolute;
  top: 0;
  left: -100vw;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  background-color: #2e2e2ea8;
  z-index: 999;
  transition: 0.2s;
}
.dentro {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.menudrop img {
  margin: 25px;
  width: 35px;
  height: 35px;
}
header > input,
label {
  display: none;
}
#menu:checked ~ .menudrop {
  left: 0;
}
@media (max-width: 415px) {
  .barra,
  .gerenciar {
    display: none;
  }
  .hamb {
    display: flex;
  }
  .divfilme {
    margin-left: 90px;
    width: 200px;
    height: 250px;
  }
  label {
    display: block;
  }
  .direitacima {
    display: flex;
    flex-direction: column;
  }
}
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #cfb53b;
}
